@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {

  /* stuff here maybe */

}

@font-face {
  font-family: 'Minecraft Ten';
  src: url('/fonts/mc-ten-lowercase-alt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply m-0 box-border bg-black text-white;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif !important;
}


.bg-radial-custom {
  background: radial-gradient(circle, #13171b 0%, rgba(0, 0, 0, 1) 100%);
}

@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(20px); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}