@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:wght@300..800&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Open Sans', sans-serif;     /* body text */
  --font-display: 'Montserrat', sans-serif; /* headings / special */
}

@font-face {
  font-family: 'Minecraft Ten';
  src: url('/fonts/mc-ten-lowercase-alt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply m-0 box-border bg-black text-white;
}

h1, h2, h3 {
  @apply font-display;
}


.bg-radial-custom {
  background: radial-gradient(circle, #13171b 0%, rgba(0, 0, 0, 1) 100%);
}

@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(20px); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.zoom-in {
  opacity: 0;
  transform: scale(0.8);
  animation: zoomIn 500ms ease-out forwards;
}

code {
  @apply bg-gray-800 text-green-400 px-1 rounded-sm;
}

ul {
  @apply list-disc ml-6 mt-2;
}

ul > li {
  @apply mb-2; /* replace space-y-2 */
}
